.about {
    &-block {
        position: relative;
        display: flex;
        justify-content: space-between;

        margin-top: 100px;
    }
    &-item {
        &__text {
            font-size: 36px;
            color: #B70021;
        }
        &__content {
            font-size: 24px;
            margin-top: 101px;
            line-height: 1.3;
            &--second {
                margin-right: 280px;
                line-height: 1.3;
            }
            }
        &__benefits {
            position: absolute;
            bottom: 0;
            right: 0;

            font-size: 36px;
            color: #B70021;
        }
        }
    }
